@charset "utf-8";

body, h1, input, p, select, table, td, th{
    margin: 0;
    padding: 0;
}

body{
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

header footer{
    width: 100%;
    height: auto;
}

.bgCol_B{
    background-color: black;
}
.bgCol_fb{
    background-color: #fbfbfb;
}

.isBold{
    font-weight: bold;
}

.isBorder{
    border: 1px solid;
}
.isBorder.lColor_e4{
    border-color: #e4e4e4;
}
.isBorder.lColor_d1{
    border-color: #d1d1d1;
}

.isBottomLine{
    border-bottom: 1px solid;
}
.isBottomLine.lColor_B{
    border-color: black;
}
.isBottomLine.lColor_d1{
    border-color: #d1d1d1;
}

.isTopBottomLine{
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.isTopBottomLine.lColor_type1{
    border-top-color: #a5a5a5;
    border-bottom-color: #e4e4e4;
}
.isTopBottomLine.lTop2px{
    border-top-width: 2px;
}

.sFontSize{
    font-size: 12px;
    color: #000;
}

.centerCon{
    margin: 0 auto;
    padding:0 40px 0 40px;

    width: 1080px;

    box-sizing: border-box;
}

.titleCon{
    height: 120px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.h1Title{
    font-size: 40px;
    color: #fff;
}

.elBtnCon{
    padding: 0;
    margin: 40px auto;
    width: 1000px;

    box-sizing: content-box;
    overflow: hidden;
}

.elBtn {
    margin-right: 14px;
    width: 324px;
    height: 33px;
    font-size: 16px;

    color: #000;
    background-color: white;
    box-sizing: border-box;
    float: left;
}
.elBtn:last-child {
    margin-right: 0px;
}
.elBtn:hover {
    border-color: #454545;
    font-weight: bold;
}


.h2Title {
    font-size: 20px;
    color: #000;
}

.elBoxTable {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;

    border-collapse: collapse ;
}

th.elBox,
td.elBox
{
    border: 1px solid #d1d1d1;
    text-align: left;
}
th.elBox{
    padding: 15px;
    font-size: 16px;
    background-color: #f7f7f7;
}
td.elBox{
    padding: 30px;
    font-size: 12px;
}

.h3Title{
    font-size: 14px;
    color: #000;
}

.conBoxTable{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    border-collapse: collapse ;
}

th.conBox0,
td.conBox0
{
    padding: 15px;
    border: 1px solid #e4e4e4;
    text-align: center;
    font-size: 12px;
    color: #555;
}
th.conBox0{
    background-color: #fbfbfb;
}

th.conBox1,
td.conBox1
{
    padding: 15px;
    text-align: center;
    font-size: 12px;
    color: #555;
}
th.conBox1{
    font-weight: normal;
    background-color: #fbfbfb;
}
/*td.conBox1.isTextAlignR{
    text-align: right;
}
*/
.conBox2{
    padding: 15px;
    text-align: left;
}

.h4Title{
    font-size: 14px;
    color: #000;
}

input.inputForm{
    width: 100%;
    height: 30px;
}

.footerText{
    font-style: normal;
    text-align: center;
}
.footerText.address{
    font-size: 12px;
    color: #999;
}
.footerText.copyright{
    font-size: 12px;
    color: #000;
}